.home {
    max-width: 1200px;
    margin: 60px auto;
}

/* .home .ingredients {
  text-decoration: none;
  margin-left: 15px;
  padding: 8px;
  border: 1.5px solid #030000;
  border-radius: 12px;
  margin-bottom: 20px;
}
.home .ingredient:hover {
  background: rgb(111, 13, 13);
  color: rgb(247, 241, 241);
  width: var(--hover-width);
} */